@import "./reset";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 2px solid teal;
}

.container {
  padding: 8px 16px;
  background: linear-gradient(rgba(255, 192, 203, 0.616) 80%, #fff);
}

.userList {
  margin-top: 0.6rem;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
}

.user {
  height: 300px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 1px grey;
  overflow: hidden;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.form-container {
  padding: 8px 16px;
  text-align: center;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));

  .form {
    padding: 8px;
    background-color: rgba(0, 139, 139, 0.74);
    border-radius: 4px;
    overflow: hidden;
    height: 380px;

    h3 {
      display: inline-block;
      background-color: rgba(0, 139, 139, 0.637);
      color: #fff;
      padding: 4px 6px;
      border-radius: 2px;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    input {
      margin: 1rem auto;
      display: block;

      border: none;
      border-radius: 2px;
      padding: 4px 8px;
      font-size: 1.4rem;
      margin-top: 8px;
    }
    form {
      height: 300px;
      display: flex;
      flex-direction: column;
    }
    form > div {
      flex-grow: 1;
    }
  }
}

.profile-ctn {
  display: flex;
  justify-content: cenert;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  h3 {
    display: inline-block;
    background-color: rgba(0, 139, 139, 0.637);
    color: #fff;
    padding: 4px 6px;
    border-radius: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .image-ctn {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(255, 217, 0, 0.356);
    border: 2px solid grey;
    box-shadow: 1px 1px 3px 1px grey;

    img {
      height: 100%;
    }
  }

  form {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin: 0.6rem;
  cursor: pointer;
}

.btn-s {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 2px 10px;
  border-radius: 8px;
  font-weight: bold;
  margin: 0.6rem;
  cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.error {
  max-width: 130px;
  margin: 0 auto;
  padding: 2px 8px;
  color: #fff;
  background-color: rgb(139, 29, 48);
  border: 1px solid white;
  border-radius: 4px;
  font-size: 0.7rem;
}

.panel {
  position: absolute;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  font-size: 1.4rem;

  .panel-btn {
    color: #ccc;
    cursor: pointer;
  }
}

.toggle-active {
  color: pink;
}

.like-counter {
  position: absolute;
  top: 5%;
  right: 10%;
  height: 30px;
  width: 30px;
  padding: 4px;
  background: rgba(11, 117, 117, 0.774);
  color: #fff;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: teal;
}
